<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HeeAnswers</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
    <!-- FONT LINKS -->
    <link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2" id="left-header">
            <h3>HeeAnswers</h3>
            <hr>
            <p>
              Having a real fucked up day? Are you scared or angry about something
              stupid? Or are you just happy for no apparent reason? Let the Lord's word guide you to
              spiritual enlightment! Select your current emotion and get acquainted with a appropriate bible
              scripture that will brighten your day! And if thats not enough, some additional resources will
              be provided so we can
            </p>
            <br>
            <br>
            <br>
            <br>
            <p1>
              Made by Jefe<br>
              Made for my beautiful mother,Melyn <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </p1>
        </div>
        <div class="col-sm-10" id="main-body">
          <div class="row">
          <h1>Today, I feel</h1><br>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="button-text">Select Emotion</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a class="emotion-selection" href="#" value="happy">Happy</a></li>
              <li><a class="emotion-selection" href="#" value="afraid">Afraid</a></li>
              <li><a class="emotion-selection" href="#" value="angry">Angry</a></li>
              <li><a class="emotion-selection" href="#" value="lost">Lost</a></li>
              <li><a class="emotion-selection" href="#" value="sad">Sad</a></li>
            </ul>
            </div>
            <div id='scripture-target'>
              <script id="scripture-template" type="text/x-handlebars-template">
                <div class="row scripture">
                  <div class="col-md-10 col-md-offset-1">
                           <h3 class="main-scripture">"{{scripture.scripture}}"</h3><br>
                           <h4 class="main-verse">{{scripture.verse}}</h4>
                           if thats not enough, heres a list of resources:
                           {{#each scripture.help_link}}
                           {{help_link}}
                           {{/each}}


                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
