<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HeeAnswers</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
    <!-- FONT LINKS -->
    <link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2" id="left-header">
            <h3>HeeAnswers</h3>
            <hr>
            <p>This is where the explanation of the app will go.
              also the goal for this app and maybe some other gooshy stuff
            </p>
        </div>
        <div class="col-sm-10" id="main-body">
          <div class="row">
          <h1>Today, I feel</h1><br>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="button-text">Select Emotion</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a class="emotion-selection" href="#" value="happy">Happy</a></li>
              <li><a class="emotion-selection" href="#" value="afraid">Afraid</a></li>
              <li><a class="emotion-selection" href="#" value="angry">Angry</a></li>
              <li><a class="emotion-selection" href="#" value="lost">Lost</a></li>
              <li><a class="emotion-selection" href="#" value="sad">Sad</a></li>
            </ul>
            </div>
            <div id='scripture-target'>
              <script id="scripture-template" type="text/x-handlebars-template">
                <div class="row scripture">
                  <div class="col-md-10 col-md-offset-1">
                           <h3 class="main-scripture">"{{scripture.scripture}}"</h3><br>
                           <h4 class="main-verse">{{scripture.verse}}</h4>
                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
