<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HeeAnswersAdmin</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/stylesAdmin.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/appAdmin.js"></script>
  </head>
  <body>
    <h1>HeeAnswers Admin Page</h1>
    <div id="scripture-form" class="container">
      <div class="row">
        <div class="col-md-12">
          <form  id="createScripture" class="form-horizontal">
            <fieldset>
              <!--Create a scripture-->
              <legend>Add a Scripture:</legend>
                Scripture: <input id="addScripture" type="text" required=""><br>
                Verse: <input id="addVerse" type="text" placeholder="e.g. John 3:16" required=""><br>
                Emotion: <input id="addEmotion" type="text" placeholder="happy, angry, afraid, lost or sad" required=""><br>
                <!--Create Button-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="createbutton">Save Scripture</label>
                  <div class="col-md-4">
                    <button id="createbutton" name="createbutton" class="btn btn-primary-create">Submit</button>
                  </div>
                </div>
            </fieldset>
          </form>
          <form id="updateScriptureForm" class="form-horizontal">
            <fieldset>
              <!--Update a scripture-->
              <legend>Update a Scripture:</legend>
                Scripture Id: <input id="selectScripture" type="text" required=""><br>
                New Scripture: <input id="updateScripture" type="text" required=""><br>
                New Verse: <input id="updateVerse" type="text" required=""><br>
              <!--Update Button-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="updatebutton">Update Scripture</label>
                <div class="col-md-4">
                  <button id="updatebutton" name="updatebutton" class="btn btn-primary-update">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
          <form id="deleteScriptureForm" class="form-horizontal">
            <fieldset>
              <!--Delete a scripture-->
              <legend>Delete a Scripture:</legend>
              Scripture Id: <input id="deleteScripture" type="text" required="">
              <!--Delete Button-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="deletebutton">Delete Scripture</label>
                  <div class="col-md-4">
                    <button id="deletebutton" name="deletebutton" class="btn btn-danger-delete">Submit</button>
                  </div>
              </div>
          </fieldset>
        </form>
    <div class="row">
        <form class="form-inline" id="showAllScripturesForm">
          <center><h2>Show Response</h2></center>

          <center><button type="submit" class="btn btn-default-showall">Show all Scriptures</button></center>
        </form>
        <div id='scripture-target'>
          <script id="scripture-template" type="text/x-handlebars-template">
            <div class="row">
              <div class="col-sm-4">
                Scripture:{{scripture.scripture}}<br>
                Verse:{{scripture.verse}}<br>
                Emotion:{{scripture.emotion}}<br>
                ID:{{scripture._id}}<br>
              </div>
              <!-- <div class="col-sm-8">
                {{#each scripture}}
                Scripture:{{scripture.scripture}}
                Verse:{{scripture.verse}}
                ID:{{scripture._id}}
                {{/each}}
            </div> -->
            </div>
          </script>
        </div>
    </div>
  </body>
</html>
