body {
  background-image: url('https://drscdn.500px.org/photo/148472483/m%3D900/9e35275c6df5ae3fa8b3aec9c79d3f43');
  background-size: cover;




}

.col-sm-2 {
  border-style: hidden;
  height: 520px;
  background-color: rgba(101, 84, 84, 0.5);
  color: white;
}

col-md-10 col-md-offset-1 {
  color: white;
}

h1 {
  padding-top: 100px;
  font-size: 100px;
  text-align: center;
  color: white;
}

h3{
  padding-right: 80px;
}

.dropdown {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
}

ul {
  text-align: center;
}
