body {
  background-image: url('https://drscdn.500px.org/photo/148472483/m%3D900/9e35275c6df5ae3fa8b3aec9c79d3f43');
  background-size: cover;




}

.col-sm-2 {
  border-style: hidden;
  height: 520px;
  background-color: rgba(101, 84, 84, 0.5);
  color: white;
}

col-md-10 col-md-offset-1 {
  color: white;
}

h1 {
  font-family: 'IM Fell DW Pica', serif;
  padding-top: 100px;
  font-size: 130px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #feb751;
}

h3{
  font-family: 'Cinzel', serif;
  padding-right: 80px;
}

p{
  font-family: 'IM Fell DW Pica', serif;
}

.dropdown {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
}

ul {
  text-align: center;
}

.main-scripture {
  font-family: 'IM Fell DW Pica', serif;
  color: white;
  font-size: 30px;
  padding: 10px 10px 10px 0px;
}

.main-verse {
  color: white;
  padding-top: -20px;
  font: 20px;
}
